<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="./stylesheets/reset.css" />
  <link rel="stylesheet" href="./stylesheets/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./javascripts/login.js"></script>
</head>
<body>
  <form id="create-form" class="user-form" method="post" action="/create_user">
    <p id="flash-message"></p>
    <div class="space-between">
      <label for="username">Username:</label>
      <input class="focus-field" type="text" name="username" required autofocus>
    </div>
    <div class="space-between">
      <label for="password">Password:</label>
      <input type="password" name="password" required>
    </div>
    <div class="space-between">
      <button id="create-button" type="submit">Create</button>
      <a href="/login">Already have an account?</a>
    </div>
  </form>
</body>
</html>